<!DOCTYPE html>
<html lang="zh-CH">
<head>
    <meta charset="UTF-8">
    <title>360企业安全云-网站白名单设置</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14"></script>
</head>
<style>
    table, table td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table td .flex-item {
        padding: 5px 15px;
        margin: 15px 0 0 15px;
    }

    table td .flex-title {
        flex-basis: 100%;
    }

    table td span.flex-item {
        border: 1px solid gray;
    }

    table td input.url {
        border: 0;
    }

    label.importLabel {
        position: relative;
    }

    label.importLabel .file {
        position: absolute;
        top: 0;
        left: 0;
        width: 57px;
        height: 22px;
        opacity: 0;
    }
</style>
<body>
<div id="app">
    <h1 style="text-align: center;">网站设置</h1>
    <table style="width: 100%;">
        <thead>
        <tr style="height: 50px;text-align: center;">
            <td style="width: 20%">网站分类</td>
            <td style="width: 80%">网站
                <span v-if="data[idx] && data[idx].list.length>0">（{{data[idx].list.length}}个）</span>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr ref="mainTr" :style="windowHeight">
            <td style="vertical-align: top;">
                <div style="display: flex;flex-wrap: wrap;align-items: flex-start; border:0;">
                    <div v-for="(o,i) in data" class="flex-item flex-title" @dblclick="deleteTitle(o,i)">
                        <input type="radio" name="title" :value="i" @click="selectTitle(i)">{{o.title}}
                    </div>
                    <input ref="titleInput" v-model="title" class="url flex-item flex-title"
                           placeholder="填写分类，回车确定" @keyup.Enter="addTitle">
                    <input class="flex-item" type="button" @click="exportConfig" value="全部导出">
                    <label class="importLabel">
                        <input class="flex-item btn" type="button" value="导入全部">
                        <input class="flex-item file" type="file" @change="importConfig" ref="fileInput"
                               accept=".json,application/json">
                    </label>
                </div>
            </td>
            <td style="vertical-align: top;">
                <div v-if="data[idx]" style="display: flex;flex-wrap: wrap;align-items: flex-start; border:0;">
                    <span v-for="o in data[idx].list" class="flex-item" @dblclick="deleteUrl(o)">{{o}}</span>
                    <input ref="urlInput" v-model="url" class="url flex-item flex-title"
                           placeholder="填写Url，多个地址用“;”分开，回车确定" @keyup.Enter="addUrl">
                    <input class="flex-item" type="button" @click="copyUrlList" value="复制">
                    <input class="flex-item" type="button" @click="deleteUrls" value="全部删除">
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                prefix: '__whiteListUrlSetting_',
                data: [],
                title: '',
                idx: '',
                url: '',
                height: 0,
            };
        },
        computed: {
            windowHeight() {
                let height = this.height;
                return {
                    height: height + 'px'
                };
            },
        },
        methods: {
            set(key, value) {
                localStorage.setItem(this.prefix + key, value);
            },
            get(key) {
                return localStorage.getItem(this.prefix + key);
            },
            debug() {
                for (let i = 0; i < arguments.length; i++) {
                    console.log(arguments[i]);
                }
            },
            addTitle() {
                this.setTitle(this.title);
            },
            setTitle() {
                let find = this.data.find(o => o.title === this.title);
                if (find) {
                    alert('网站分类已存在，请修改原有分类，不要新增');
                    this.$refs.titleInput.select();
                    return false;
                }
                this.data.push({title: this.title, list: []});
                this.set('data', JSON.stringify(this.data));
                this.title = '';
            },
            deleteTitle(obj, idx) {
                if (confirm(`确定删除 [${obj.title}] 分类？`)) {
                    this.data.splice(+idx, 1);
                    this.set('data', JSON.stringify(this.data));
                }
            },
            selectTitle(idx) {
                this.idx = idx;
                this.url = '';
            },
            addUrl() {
                if (this.url.trim().length <= 0) {
                    alert('网址不能为空！');
                    return false;
                }
                let needInList = this.url.split(';').map(o => o.trim()).filter(o => o);
                let cantInList = [];
                for (let i = 0; i < needInList.length; i++) {
                    let find = this.data[this.idx].list.find(o => o === needInList[i]);
                    if (find) {
                        cantInList.push(needInList[i]);
                    } else {
                        this.data[this.idx].list.push(needInList[i]);
                    }
                }
                this.data[this.idx].list.sort((a, b) => this.fixUrl(a) < this.fixUrl(b) ? -1 : 1);
                this.set('data', JSON.stringify(this.data));
                if (cantInList.length > 0) {
                    alert(`已存在 [${cantInList.join(',')}] 网站，请勿重复添加！`);
                    this.url = cantInList.join(';');
                    this.$refs.urlInput.select();
                    return false;
                }
                this.url = '';
            },
            fixUrl(url) {
                if (url.startsWith('*.')) {
                    return url.replace(/^\*\./, '') + '_';
                }
                return url;
            },
            deleteUrl(url) {
                if (confirm(`确定删除 [${url}] 网站？`)) {
                    this.data[this.idx].list = this.data[this.idx].list.filter(o => o !== url);
                    this.set('data', JSON.stringify(this.data));
                }
            },
            copyUrlList() {
                navigator.clipboard.writeText(this.data[this.idx]?.list?.join(';'));
            },
            deleteUrls() {
                if (confirm(`确定删除 [${this.data[this.idx].title}] 下的所有网站？`)) {
                    this.data[this.idx].list = [];
                    this.set('data', JSON.stringify(this.data));
                }
            },
            download(filename, text) {
                let element = document.createElement('a');
                element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
                element.setAttribute('download', filename);
                element.style.display = 'none';
                document.body.appendChild(element);
                element.click();
                document.body.removeChild(element);
            },
            exportConfig() {
                this.download('360企业安全云-网站设置.json', JSON.stringify(this.data, null, 4));
            },
            importConfig() {
                let _this = this;
                let fileInput = this.$refs.fileInput;
                if (fileInput.files.length <= 0) {
                    alert('请选择文件！');
                    return false;
                }
                let reader = new FileReader();
                reader.onload = function () {
                    if (!reader.result || reader.result.trim().length <= 0) {
                        return false;
                    }
                    let data = null;
                    try {
                        data = eval(reader.result);
                        _this.data = data;
                        _this.set('data', JSON.stringify(_this.data));
                    } catch (e) {
                    }
                };
                reader.readAsText(fileInput.files[0]);
            },
        },
        mounted: function () {
            this.data = this.get('data') ? JSON.parse(this.get('data')) : [];
            let topY = this.$refs.mainTr.getBoundingClientRect().top + document.documentElement.scrollTop;
            this.height = window.innerHeight - topY - 10;
        },
    });
</script>
</html>